## Importing libraries

In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split

## Loading the data

In [17]:
data_path = "../../original-files/UNSW-NB15"

features = ['srcip', 'sport', 'dstip', 'dsport', 'proto', 'state', 'dur', 'sbytes', 
            'dbytes', 'sttl', 'dttl', 'sloss', 'dloss', 'service', 'Sload', 'Dload', 
            'Spkts', 'Dpkts', 'swin', 'dwin', 'stcpb', 'dtcpb', 'smeansz', 'dmeansz', 
            'trans_depth', 'res_bdy_len', 'Sjit', 'Djit', 'Stime', 'Ltime', 'Sintpkt', 
            'Dintpkt', 'tcprtt', 'synack', 'ackdat', 'is_sm_ips_ports', 'ct_state_ttl', 
            'ct_flw_http_mthd', 'is_ftp_login', 'ct_ftp_cmd', 'ct_srv_src', 'ct_srv_dst', 
            'ct_dst_ltm', 'ct_src_ltm', 'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm', 
            'attack_cat', 'Label']

df1 = pd.read_csv(f"{data_path}/UNSW-NB15_1.csv", header=None,names=features)
df2 = pd.read_csv(f"{data_path}/UNSW-NB15/UNSW-NB15_2.csv", header=None,names=features)
df3 = pd.read_csv(f"{data_path}/UNSW-NB15/UNSW-NB15_3.csv", header=None,names=features)
df4 = pd.read_csv(f"{data_path}/UNSW-NB15/UNSW-NB15_4.csv", header=None,names=features)

C:\Users\rafac\AppData\Local\Temp\ipykernel_5492\3820818541.py:10: DtypeWarning: Columns (1,3,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("../../arquivos-originais/UNSW-NB15/UNSW-NB15_1.csv", header=None,names=features)
C:\Users\rafac\AppData\Local\Temp\ipykernel_5492\3820818541.py:11: DtypeWarning: Columns (3,39,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("../../arquivos-originais/UNSW-NB15/UNSW-NB15_2.csv", header=None,names=features)

In [18]:
# Concatenating them into a single dataframe
df = pd.concat([df1,df2,df3,df4], ignore_index=True)
df

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0,3,7,1,3,1,1,1,NaN,0
1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
2,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
3,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
4,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2540042,59.166.0.5,33094,149.171.126.7,43433,tcp,FIN,0.087306,320,1828,31,...,,1,2,3,3,1,1,3,NaN,0
2540043,59.166.0.7,20848,149.171.126.4,21,tcp,CON,0.365058,456,346,31,...,2,2,2,2,2,2,2,2,NaN,0
2540044,59.166.0.3,21511,149.171.126.9,21,tcp,CON,6.335154,1802,2088,31,...,2,2,2,4,2,2,2,2,NaN,0
2540045,59.166.0.9,35433,149.171.126.0,80,tcp,CON,2.200934,3498,166054,31,...,,1,1,2,4,2,2,2,NaN,0
2540046,175.45.176.0,17293,149.171.126.17,110,tcp,CON,0.942984,574,676,62,...,,1,1,2,4,2,2,2,Exploits,1

## Splitting into training and testing

In [4]:
train, test = train_test_split(df, test_size=0.3, random_state=42)

## Generating .csv files for the datasets

In [5]:
save_path = "../untreated-datasets"

df.to_csv(f"{save_path}/unsw_nb15.csv", index=False)
train.to_csv(f"{save_path}/unsw_nb15_train.csv", index=False)
test.to_csv(f"{save_path}/unsw_nb15_test.csv", index=False)